.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url('../../images/header.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(108, 74, 1, 0.4);
  background-blend-mode: multiply;
}

.header__titulo {
  text-transform: uppercase;
  color: var(--color-blanco);
}
