.leyendaFiltros {
  grid-column: page-start / page-end;
  grid-row: header-end / leyendaFiltros-end;
  background-color: #f4f4f4;
  padding: 7.5em 5vw 1rem;
}

@media screen and (min-width: 700px) {
  .leyendaFiltros {
    padding: 6em 5vw 1rem;
  }
}

@media screen and (min-width: 1053px) {
  .leyendaFiltros {
    padding: 5em 5vw 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .leyendaFiltros {
    display: flex;
    justify-content: center;
  }

  .leyendaFiltros__container {
    width: 1000px;
  }
}

.leyenda__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 0.3rem;
}

@media screen and (min-width: 600px) {
  .leyenda__items {
    text-align: center;
  }
}

.leyenda__items > * {
  width: 92%;
}

/* .leyenda__items > * + * {
  margin-top: .3rem;
} */

.leyenda__rotulo {
  margin-bottom: 0.6rem;
}

.leyendaItem {
  background-color: var(--color-azul-oscuro);
  color: var(--color-blanco);
  font-size: 14px;
  padding: 0.4rem 1rem;
  border-radius: 15px;
  /* width: 98%; */
}
