.App {
  display: grid;
  grid-template-columns: [page-start] 1fr [content-start] 90vw [content-end] 1fr [page-end];
  grid-template-rows: [header-start] 40vh [filtros-start] 7em [header-end] 7em [filtros-end] 14em [leyendaFiltros-end] auto [bottom];
}

@media screen and (min-width: 400px) {
  .App {
    grid-template-rows: [header-start] 40vh [filtros-start] 7em [header-end] 7em [filtros-end] 10em [leyendaFiltros-end] auto [bottom];
  }
}

@media screen and (min-width: 500px) {
  .App {
    grid-template-rows: [header-start] 40vh [filtros-start] 5em [header-end] 5em [filtros-end] 10em [leyendaFiltros-end] auto [bottom];
  }
}

@media screen and (min-width: 600px) {
  .App {
    grid-template-rows: [header-start] 40vh [filtros-start] 5em [header-end] 5em [filtros-end] 7em [leyendaFiltros-end] auto [bottom];
  }
}

@media screen and (min-width: 1100px) {
  .App {
    grid-template-columns: [page-start] 1fr [content-start] 1000px [content-end] 1fr [page-end];
  }
}

@media screen and (min-width: 1053px) {
  .App {
    grid-template-rows: [header-start] 40vh [filtros-start] 4em [header-end] 4em [filtros-end] 7em [leyendaFiltros-end] auto [bottom];
  }
}
