/* ############################ CSS VARIABLES ############################ */
:root {
  --color-blanco: #fff;
  --color-negro: #000;
  --color-accent: #fb8500;
  --color-azul-oscuro: #023047;

  --font-family-body: 'Alegreya Sans', sans-serif;
  --font-family-titulos: 'Alegreya', serif;

  --font-size-titulo: 1.5rem;
  --font-size-texto-normal: 1rem;
  --font-size-texto-small: 0.875rem;

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
}

/* ############################ RESET ############################# */
* {
  box-sizing: border-box;
}

h1,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

/* ############################ GENERAL ############################# */
body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-texto-normal);
  font-weight: var(--font-weight-regular);
  color: var(--color-azul-oscuro);
  margin: 0;
  line-height: 1.6;
}

.texto-titulo {
  font-family: var(--font-family-titulos);
  font-size: var(--font-size-titulo);
  font-weight: var(--font-weight-semi-bold);
}

.texto-btn {
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn {
  background-color: var(--color-accent);
  color: var(--color-blanco);
  width: 100%;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  color: var(--color-blanco);
}

.container {
  width: 92%;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  :root {
    --font-size-titulo: 1.625rem;
    --font-size-texto-normal: 1.125rem;
    --font-size-texto-small: 1rem;
  }
}
