/* ############################ CSS VARIABLES ############################ */
:root {
  /* Colores */
  --color-blanco: #fff;
  --color-negro: #000;
  --color-gris: #424242;
  --color-accent: #fb8500;
  --color-azul-oscuro: #023047;

  /* Tipografía */
  --font-family-body: 'Alegreya Sans', sans-serif;
  --font-family-titulos: 'Alegreya', serif;

  --font-size-titulo: 1.5rem; /* 24px */
  --font-size-texto-item: 1.125rem; /* 18px */ /* para items de menu y botones*/
  --font-size-texto-normal: 1rem; /* 16px */
  --font-size-texto-small: 0.875rem; /* 16px */

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-extra-bold: 800;

  /* z index */
  --z-fixed: 2;
}

/* ############################ RESET ############################# */
* {
  box-sizing: border-box;
}

h1,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

/* ############################ GENERAL ############################# */
body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-texto-normal);
  font-weight: var(--font-weight-regular);
  color: var(--color-azul-oscuro);
  margin: 0;
  line-height: 1.6;
}

/* ############################ UTILIDADES ############################# */
/* Tipografía */
.texto-titulo {
  font-family: var(--font-family-titulos);
  font-size: var(--font-size-titulo);
  font-weight: var(--font-weight-semi-bold);
}

.texto-btn {
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.texto-blanco {
  color: var(--color-blanco);
}

/* ############################ COMPONENTES ############################# */
.btn {
  background-color: var(--color-accent);
  color: var(--color-blanco);
  width: 100%;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  color: var(--color-blanco);
}

@media screen and (min-width: 500px) {
  :root {
    --font-size-titulo: 1.625rem; /* 26px */
    --font-size-texto-item: 1.25rem; /* 20px */
    --font-size-texto-normal: 1.125rem; /* 18px */
    --font-size-texto-small: 1rem; /* 18px */
  }
}
